In [1]:
import pymongo

here, connection for mongodb has implemented

In [2]:
url = 'mongodb://localhost:27017/'
client = pymongo.MongoClient(url)

.list_database_names() helps to show list all the database

In [3]:
client.list_database_names()

['admin', 'config', 'cricket', 'database1', 'local', 'sk']

We have created database 'ESSPORT' and collection for the database is 'Teams'

In [5]:
database = client['ESSPORT']
collection1= database['Teams']

# Insert()

We can insert records in database using:
    
collection.insert_one()

collection.insert_many()

In [20]:
teams= {'name':'godlike essports',
        'year':2020,
        'tournaments':5,
        '#1':4,
        'networth':5000000}
collection1.insert_one(teams)

In [7]:
teams_many = [ {'name':'TX essports',
        'year':2021,
        'tournaments':5,
        '#1':1,
        'networth':3000000},
             {'name':'SG essports',
        'year':2020,
        'tournaments':5,
        '#1':2,
        'networth':4500000},
             {'name':'8 bit essports',
        'year':2020,
        'tournaments':5,
        '#1':0,
        'networth':2500000},
             {'name':'SOUL essports',
        'year':2022,
        'tournaments':2,
        '#1':0,
        'networth':1000000},
             {'name':'XO essports',
        'year':2020,
        'tournaments':5,
        '#1':1,
        'networth':3000000},
             {'name':'TSM essports',
        'year':2020,
        'tournaments':5,
        '#1':0,
        'networth':5000000}]
collection1.insert_many(teams_many)

# Search and fetch

user can fetch the data from database.collection on console with the help of for loop 
also can find any specific documents from collection using .find() methode.

In [8]:
for i in collection1.find():
    print(i)

{'_id': ObjectId('620b6b2e4dd043792f242e0d'), 'name': 'godlike essports', 'year': 2020, 'tournaments': 5, '#1': 4, 'networth': 5000000}
{'_id': ObjectId('620b6c1b4dd043792f242e0e'), 'name': 'TX essports', 'year': 2021, 'tournaments': 5, '#1': 1, 'networth': 3000000}
{'_id': ObjectId('620b6c1b4dd043792f242e0f'), 'name': 'SG essports', 'year': 2020, 'tournaments': 5, '#1': 2, 'networth': 4500000}
{'_id': ObjectId('620b6c1b4dd043792f242e10'), 'name': '8 bit essports', 'year': 2020, 'tournaments': 5, '#1': 0, 'networth': 2500000}
{'_id': ObjectId('620b6c1b4dd043792f242e11'), 'name': 'SOUL essports', 'year': 2022, 'tournaments': 2, '#1': 0, 'networth': 1000000}
{'_id': ObjectId('620b6c1b4dd043792f242e12'), 'name': 'XO essports', 'year': 2020, 'tournaments': 5, '#1': 1, 'networth': 3000000}
{'_id': ObjectId('620b6c1b4dd043792f242e13'), 'name': 'TSM essports', 'year': 2020, 'tournaments': 5, '#1': 0, 'networth': 5000000}

Here, we are fetching the documents whos networth = 5000000

In [15]:
for i in collection1.find({'networth':5000000}).limit(1):
    print(i)

{'_id': ObjectId('620b6b2e4dd043792f242e0d'), 'name': 'godlike essports', 'year': 2020, 'tournaments': 5, '#1': 4, 'networth': 5000000}

In [14]:
for i in collection1.find({'year': {'$not' : {'$lte' : 2021}}}):
    print(i)

{'_id': ObjectId('620b6c1b4dd043792f242e11'), 'name': 'SOUL essports', 'year': 2022, 'tournaments': 2, '#1': 0, 'networth': 1000000}

In [28]:
for i in collection1.find({'#1':{'$gt':3}}):
    print(i)

{'_id': ObjectId('620b6b2e4dd043792f242e0d'), 'name': 'godlike essports', 'year': 2020, 'tournaments': 5, '#1': 4, 'networth': 5000000}

# Delete()

collection.delete_one()

collection.delete_many()

we have removed the documents from collection who didn't win any tournament.

In [25]:
collection1.delete_many({'#1':0})

# Update()

collection.update_one()

collection.update_many()

Here, we have updated the networth of the document whos previous networth was 3000000

In [31]:
collection1.update_many({'networth':3000000},{'$set':{'networth':5000000}})

In [32]:
for i in collection1.find({'networth':5000000}):
    print(i)

{'_id': ObjectId('620b6b2e4dd043792f242e0d'), 'name': 'godlike essports', 'year': 2020, 'tournaments': 5, '#1': 4, 'networth': 5000000}
{'_id': ObjectId('620b6c1b4dd043792f242e12'), 'name': 'XO essports', 'year': 2020, 'tournaments': 5, '#1': 1, 'networth': 5000000}
{'_id': ObjectId('620b6edb4dd043792f242e14'), 'name': 'TX essports', 'year': 2021, 'tournaments': 5, '#1': 1, 'networth': 5000000}

previously we had only 2 teams with 5000000 networth but now we have 3 teams as we have updated networth of one team